:root {
  --main-color: #FF9000;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  list-style: none;
  color: var(--main-color);
}

img {
  max-width: 500px;
}

img:first-child {
  max-width: 1000px;
}