@font-face {
  font-family: 'Diatype';
  src: url('../fonts/ABCDiatypeEdu-Regular.woff2') format('woff2')
}

:root {
  --main-color: #FF9000;
  font-family: 'Diatype';
  font-size: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  list-style: none;
  color: var(--main-color);
}
